#nav_container{
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    width: 98%;
    padding-right: 0px;
}

body #nav_main{
    margin-bottom: 0px;
    min-height: 30px;
}

#nav_main #nav_container #nav_head a{
    height: 20px;
    padding:7px 12px 5px 12px;
    font-size: 13px;
}

#nav_container a:hover {
    color: #ff335e;
    text-decoration: none;
}

#container_login{
    padding-top: 7px;
}

#container_login a,em{
    color: #999;
    padding-left: 15px;
    font-size: 13px;
}

#container_login a:hover{
    color: #ff335e;
    text-decoration: none;
}
#nav_container #nav_head  .nav_right{
    height: 30px;
    padding-top: 0px;
    padding-right: 20px;
}
#nav_head a:hover{
    color: #ff335e;
    text-decoration: none;
}

.quick_DirectPromo p{
    color: #cc9977;
    font-size: 15px;
}

.quick_sitemap p{
    color: #cc9977;
    font-size: 15px;
}

#nav_main #nav_head >ul>li>img{
    border-bottom: #cc9977;
}

#container_login > em {
    font-style: normal;
}

#nav_head .quick_li_mobile .quick_qrcode img {
    padding: 12px 15px;
    position: absolute;
    background: #ffffff;
    left: -48px;
    top: 26px;
    display: none;
    box-shadow: 0 0 5px #aaa;
}

#nav_main #nav_container .nav_button{
    margin-right: 30px;
    width: 34px;
    height: 24px;
    padding: 4px 5px;
}