#mallLogo {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    line-height: 64px;
    position: relative;
}

#mallLogo > a {
    position: relative;
    display: block;
    width: 190px;
    height: 30px;
    overflow: hidden;
}

#mallLogo img {
    width: 190px;
    height: 28px;
    cursor: pointer;
    vertical-align: top;
}

.order_address {
    width: 100%;
    min-height: 300px;
    padding-bottom: 60px;
    color: #666;
    margin: 30px auto;
    padding-left: 20px;
}

.order_address h2, .order_info h2 {
    font-family: Arial, serif;
    margin-bottom: 15px;
    line-height: 25px;
    color: #333;
    font-weight: 700;
    font-size: 17px;
}

.order_address label {
    min-width: 70px;
    color: #333333;
    font: 400 15px/1.6 arial, sans-serif;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 110px;
}

.order_address span.mustValue {
    display: inline-block;
    color: #FF0036;
    padding: 0 2px;
    box-sizing: border-box;
    width: 10px;
}

.order_address .br {
    height: 10px;
}

.order_address textarea {
    font-size: 12px;
    vertical-align: top;
    width: 340px;
    height: 62px;
    resize: none;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 3px;
    padding: 5px;
}

.order_address input[type=text] {
    width: 340px;
    box-sizing: border-box;
    font-size: 12px;
    color: #333;
    border-radius: 3px;
    height: 35px;
    border: 1px solid #cccccc;
    padding: 0 5px;
}

.order_address input[type=submit] {
    display: block;
    border-radius: 3px;
    padding: 0 12px;
    margin: 10px 0 0 83px;
    height: 28px;
    color: #fff;
    outline: 0;
    line-height: 26px;
    font-size: 12px;
    border: 1px solid transparent;
    background-color: #5584ff;
}

.order_address input[type=checkbox] {
    display: block;
    border-radius: 3px;
    margin: 10px 0 0 83px;
}

.order_address .flag {
    display: inline-block;
    margin-top: -17px;
    margin-left: 102px;
}

.order_bar {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 34px;
    box-sizing: border-box;
    font-size: 12px;
    background: #e3f2fd url("../../img/user/WebsiteImage/attention.png") no-repeat 10px center;
    border-radius: 3px;
    margin: 0 auto 20px;
}

.order_table {
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;
}

.order_table table {
    width: 100%;
}

.order_table td,
.order_table th {
    height: 40px;
    font-size: 12px;
    color: #333;
    border: 1px solid #dcdee3;
    padding: 12px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:break-all;
}

.order_table th {
    background-color: #ebecf0;
}

.order_table td a {
    color: #333;
    text-decoration: none;
}

.order_table td a:hover {
    color: #ff5000;
}

.order_table tr {
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.order_table tr:hover {
    background-color: #f0f1f5;
}

.order_table td:nth-of-type(2) {
    max-width: 110px;
}

.order_table td:nth-of-type(3) {
    max-width: 200px;
}

.defaultAddr {
    width: auto;
    height: auto;
    border: 1px solid #ff5000;
    color: #ff5000;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    background-color: #ffd6cc;
}
