<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "mybatis-3-mapper.dtd">
<mapper namespace="com.bs.mall.dao.AddressMapper">
        <resultMap id="addressMap" type="com.bs.mall.entity.Address">
                <association property="address_regionId" javaType="com.xq.mall.entity.Address">
                        <id property="addressAreaId" column="address_region_id"/>
                </association>
        </resultMap>

        <select id="selectOne" resultMap="addressMap" parameterType="string">
                SELECT address_area_id,address_name,address_region_id FROM address
                <where>
                        address_area_id = #{addressAreaId}
                </where>
        </select>

        <select id="getListByAreaIdFore" resultType="com.bs.mall.dao.pojo.Address">
                select *
                from address
                where address_region_id = #{regionId} and address_region_id <![CDATA[!= ]]> address_area_id
        </select>

        <select id="getAllProvinceFore" resultType="com.bs.mall.dao.pojo.Address">
                select *
                from address
                where address_region_id = address_area_id
        </select>
</mapper>