<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.bs.mall.dao.AdminMapper">
    <select id="selectByLogin" resultType="admin">
        SELECT admin_id FROM admin
        <where>
            admin_name = #{admin_name} and admin_password = #{admin_password}
        </where>
    </select>

    <select id="selectOne" resultType="admin" parameterType="int">
        SELECT admin_id,admin_name,admin_nickname,admin_profile_picture_src FROM admin
        <where>
            <if test="admin_id != null">
                admin_id = #{admin_id}
            </if>
            <if test="admin_name != null">
                admin_name = #{admin_name}
            </if>
        </where>
    </select>
</mapper>