<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.bs.mall.dao.PropertyValueMapper">
    <resultMap id="propertyValueMap" type="com.bs.mall.entity.PropertyValue">

        <association property="propertyValueProperty" javaType="com.bs.mall.entity.Property">
            <id property="propertyId" column="property_id"/>
        </association>
        <association property="propertyValueProduct" javaType="com.bs.mall.entity.Product">
            <id property="productId" column="product_id"/>
        </association>
    </resultMap>

    <select id="select" resultMap="propertyValueMap">
        SELECT property_value_id,property_value_value,property_id,product_id FROM property_value
        <if test="propertyValue != null">
            <where>
                <if test="propertyValue.propertyValueValue">property_value_value = #{propertyValue.propertyValueValue}</if>
                <if test="propertyValue.propertyValueProperty != null">
                    <if test="propertyValue.propertyValueProperty.propertyId">property_id = #{propertyValue.propertyValueProperty.propertyId}</if>
                </if>
                <if test="propertyValue.propertyValueProduct != null">
                    <if test="propertyValue.propertyValueProduct.productId">product_id = #{propertyValue.propertyValueProduct.productId}</if>
                </if>
            </where>
        </if>
    </select>

    <update id="updateOne" parameterType="com.bs.mall.entity.PropertyValue">
        UPDATE property_value
        <set>
            <if test="propertyValue.propertyValueValue != null">property_value_value = #{propertyValue.propertyValueValue}</if>
        </set>
        <where>
            property_value_id = #{propertyValue.propertyValueId}
        </where>
    </update>

    <delete id="deleteList" parameterType="java.util.ArrayList">
        DELETE FROM property_value
        <where>
            property_value_id IN
            <foreach collection="propertyValue_id_list" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </delete>

    <insert id="insertList" parameterType="list">
        INSERT property_value(property_value_id,property_value_value,property_id,product_id)
        VALUES
        <foreach collection="propertyValueList" index="index" item="propertyValue" separator=",">
            (null,
            #{propertyValue.propertyValueValue},
            #{propertyValue.propertyValueProperty.propertyId},
            #{propertyValue.propertyValueProduct.productId})
        </foreach>
    </insert>

</mapper>